<!-- This content will show on every page -->
<div class="app-container">

  <!-- Welcome Message -->
  <div class="welcome-container" *ngIf="isLoggedIn$ | async">
    Welcome, {{ userName }}!
  </div>

  <!-- Burger button (moves depending on sidebar state) -->
  <div
    class="burger-container"
    [ngClass]="{ 'burger-sidebar': sidebarOpen, 'burger-global': !sidebarOpen }"
    *ngIf="isLoggedIn$ | async"
  >
    <input
      type="checkbox"
      id="checkbox"
      (click)="onToggleSidebar()"
      [checked]="sidebarOpen"
      aria-label="Toggle sidebar"
    />
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>
  </div>

  <!-- Sidebar -->
  <app-sidebar
    [isOpen]="sidebarOpen"
    (toggleSidebar)="onToggleSidebar()"
    (logout)="onLogout()"
    (closeSidebar)="sidebarOpen = false"
    *ngIf="isLoggedIn$ | async"
  ></app-sidebar>


  <div class="app-form">
    <router-outlet><!-- Other components appear here (depending on url) --></router-outlet>
  </div>
</div>