.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-header {
  text-align: center;
}

.home-title {
  padding: 20px 0;
  font-weight: 600;
  font-size: 2rem;
}