<!-- Home Component -->
<header class="home-header">
  <h2 class="home-title">Image Color Extractor</h2>
</header>

<div class="home-wrapper">
  <!-- Navigation Buttons -->
  <div class="center">
    <a
      routerLink="/upload"
      class="global-button mat-elevation-z2 mat-button-content"
      mat-raised-button
      color="primary"
    >
      <mat-icon class="button-icon">upload</mat-icon>
      <span>Upload Image</span>
    </a>

    <a
      routerLink="/images"
      class="global-button mat-elevation-z2 mat-button-content"
      mat-raised-button
      color="accent"
    >
      <mat-icon class="button-icon">image</mat-icon>
      <span>Image List</span>
    </a>
  </div>
</div>