<!-- Back Button -->
<a routerLink="/" 
  class="global-button mat-elevation-z2 mat-button-content" 
  mat-raised-button
  color="primary"
  >
  <mat-icon>arrow_back</mat-icon> Home
</a>

<!-- User Settings Form -->
<div class="user-settings-container">
  <mat-card class="user-settings-card">
    <h2>User Settings</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Name Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <!-- Surname Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" />
      </mat-form-field>

      <!-- Email Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>


      <!-- Update Sunmit Button -->
      <button mat-raised-button class="global-button" color="primary" type="submit" [disabled]="form.invalid">Update Info</button>
    </form>
  </mat-card>

  <!-- Password and Account Deletion Options -->
  <div class="button-column">
    <button mat-raised-button class="global-button" color="primary" type="button" (click)="onUpdatePassword()">Update Password</button>  
    <button mat-stroked-button class="global-button" color="warn" type="button" (click)="onDeleteAccount()">Delete Account</button>
  </div>
</div>